offboard/.vscode/
offboard/ros_workspace/build/
offboard/ros_workspace/log/
offboard/ros_workspace/install/

onboard/ros_workspace/build/
onboard/ros_workspace/log/
onboard/ros_workspace/install/
onboard/ros_workspace/qr_data.db

onboard/esp32/.vscode/
onboard/esp32/include/
onboard/esp32/lib/
onboard/esp32/test/
onboard/esp32/.gitignore/

onboard/ros_workspace/ros_env/


build
install
log
